/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles*/
.logo {
  color: blue;
  font-size: 2rem;
  text-decoration: none;
}
body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.header {
  background-color: gray;
  padding: 0.5rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article {
  background-color: aquamarine;
}
.jus-bet {
  justify-content: space-between;
}
.container {
  max-width: 1400px;
  height: 80vh;
  padding: 0 auto;
  border: 1px solid black;
}
.pad-top {
  padding-top: 3rem;
}
.container2 {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  align-items: center;
}
.hero {
  color: white;
  padding: 0 auto;
}
.flex {
  display: flex;
}
.center {
  text-align: center;
}
h1 {
  font-size: 1rem;
  color: black;
  font-weight: 700;
  padding-top: 0.6rem;
  padding-bottom: 1rem;
}
h3 {
  font-size: 2.5rem;
  color: black;
  font-weight: 700;
}
p {
  font-size: 0.7rem;
  color: gray;
  font-weight: 500;
}

ul {
  list-style: none;
}
.navbar {
  padding-right: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background-color: cornflowerblue;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem 3rem;
}
img {
  width: 100%;
  border-radius: 10px;
}
.col {
  margin-left: 1rem;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
}

.col-1 {
  flex: 0 1 31%;
}

.flex-wrap {
  flex-wrap: wrap;
}
footer {
  background-color: bisque;
  padding: 2rem;
}
.items-center {
  align-items: center;
}
.social {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: black;
  margin-left: 1rem;
}
